body
{
  background-color: #EEE;
  font-family: sans-serif;
}



.header
{
  background-color: #DBA901;
  color: white;
  text-align: center;
  padding: 10px;
}

a
{
  text-decoration: none;
  color: green;
  padding: 0;
}

a:hover
{
  color: #298A08;
  background-color: #FFBF00;
}


.container
{
  background-color: #F5FBEF;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content
{
  padding: 10px;
}

.nav
{
  width: 150px;
  float: left;
}

.nav ul
{
  list-style-type: none;
  padding: 0;

}

.selected
{
  font-weight: bold;
}

.main
{
  width: 550px;
  float: right;
}


body main img
{
  width: 200px;
  height: 200px;
  padding: 10px;
}
