*
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body
{
  font-family: cursive;
}

nav
{
  background: #FFBF00;
  height: 80px;
  width: 100%;
}

label.logo
{
  color: #088A29;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul
{
  float: right;
  margin-right: 20px;
}

nav ul li
{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a
{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,a:hover
{
  background: #58FA58;
  transition: .5s;
}

img
{
  width: 100%;
  height: 780px;
}

.gallery img
{
  width: 60%;
  height: 780px;
}
